{% extends 'base.html' %}


{% block content %}
<br><br>
<br><br>
<div class="container content">
  <div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-7">
      {% if searched_business %}
      <div class="post">
            <img class="rounded-circle account-profile ml-5" src="{{ user.profile.image.url }}" alt="user" width="50px" height="50px">
            <h3 class="ml-5">{{user.username}}</h3>
              <div class="media-container">
                <h4 class="account-header dark-text mt-3">{{searched_business.name}}</h4>
                <h5 class="lime-text"><strong>Email :{{searched_business.email}}</strong></h5>
              </div>
      </div>
      {% else %}
        <h3>0 businesses with that  {{message}}</h3>
      {% endif %}
    </div>
  </div>
  </div>
{% endblock %}
